

.correct-answer {
    color: green;
}

.incorrect-answer {
    color: red;
}

.default-option {
    color: black; 
}
.unattempted-correct-answer {
    color: rgb(43, 0, 255);
}
.no-scroll {
    overflow: hidden;
}
